<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password OTP</title>
  </head>
  <body>
    <h5>Reset Password OTP</h5>
    <p>Hello <%= recipientName %></p>
    <p>Your otp is <%= otp %></p>
  </body>
</html>
